{% load staticfiles %}

<div class="container" >
	<div class="row">
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner">
                {% for evt in events_show %}
                <div class="item">
                    <div class="swiper-slide featured-event-box" style="margin: 20px;">
                        <a href="{% url 'event_detail' event=evt.id_hash %}" >
                            <div class="event-image-box" style="background-image: url('/uploaded/{{ evt.image_file }}');"></div>
                            <div class="event-name">
                                <p>{{ evt.title }}</p>
                            </div>
                            <div class="calendar-box">
                                <div class="calendar-month">{{ evt.month }}</div>
                                <div class="calendar-day">{{ evt.date.day }}</div>
                            </div>
                            <div class="event-local-box">
                                <div class="uppercase line">
                                    <p>{{ evt.address.city.name }} - {{ evt.address.city.sigla }}</p>
                                </div>
                                <div class="line"><i class="fa fa-clock-o color-grey" style="padding-right: 2px;"></i>13h <i class="fa fa-map-marker color-grey" style="padding: 10px;"></i>{{ evt.address.city.name }} , {{ evt.address.city.sigla }}</div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="btn btn-primary leftLst"><i class="fa fa-arrow-left"></i></button>
            <button class="btn btn-primary rightLst"><i class="fa fa-arrow-right"></i></button>
        </div>
	</div>
</div>