{% extends 'base.html' %}
{% load i18n avatar_tags %}
{% load staticfiles %}

{% block middle %}
<div class="container" style="margin-top:100px">
<h3>{{ profile.first_name }} {{ profile.last_name }}
  <a href="{% url 'profile_edit' %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" alt="Editar meu perfil" style="float:right">
    <i class="fa fa-edit fa-1x"></i> Editar
  </a>
</h3>
  <table class="table table-user-profile">
    <tbody>
      <tr>
        <td class="table-user-profile-attribute">{% trans 'Primeiro Nome' %}</td>
        <td>{{ profile.first_name }}</td>
      </tr>
      <tr>
        <td class="table-user-profile-attribute">{% trans 'Sobrenome' %}</td>
        <td>{{ profile.last_name }}</td>
      </tr>
      <tr>
        <td class="table-user-profile-attribute">{% trans 'Email' %}</td>
        <td><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></td>
      </tr>
      <tr>
        <td class="table-user-profile-attribute">{% trans 'Telefone Celular' %}</td>
        {% if profile.phone_number %}
            <td><a href="tel:{{ profile.phone_number }}">{{ profile.phone_number }}</a></td>
        {% else %}
            <td>Não fornecido.</td>
        {% endif %}
      </tr>
      <tr>
        <td class="table-user-profile-attribute">{% trans 'CPF' %}</td>
        {% if profile.cpf %}
          <td>{{ prifle.cpf }}</td>
        {% else %}
          <td>Não fornecido.</td>
        {% endif %}
      </tr>
      <tr>
        <td class="table-user-profile-attribute">{% trans 'CNPJ' %}</td>
        {% if profile.cnpj %}
          <td>{{ prifle.cnpj }}</td>
        {% else %}
          <td>Não fornecido.</td>
        {% endif %}
      </tr>
      <tr>
        <td class="table-user-profile-attribute">{% trans 'Endereço' %}</td>
        {% if profile.address %}
          <td>{{ profile.address.street_name }}, {{ profile.address.number }}</td>
        {% else %}
          <td>Não fornecido.</td>
        {% endif %}
      </tr>
      <tr>
        <td class="table-user-profile-attribute">{% trans 'CEP' %}</td>
        {% if profile.address %}
          <td>{{ profile.address.cep }}</td>
        {% else %}
          <td>Não fornecido.</td>
        {% endif %}
      </tr>
      <tr>
        <td class="table-user-profile-attribute">{% trans 'Cidade-UF' %}</td>
        {% if profile.address %}
          <td>{{ profile.address.city.name }}-{{ profile.address.city.sigla }}</td>
        {% else %}
          <td>Não fornecido.</td>
        {% endif %}
      </tr>
      
    </tbody>
  </table>
</div>
{% endblock middle %}